/*
 * Kakao
 */
@font-face {
    font-family: 'Kakao';
    font-style: normal;
    font-weight: 400;
    src: local('Noto Sans KR Regular'), local('Noto Sans CJK KR Regular'),
    url(NotoSansKR-Regular.woff2) format('woff2'),
    url(NotoSansKR-Regular.woff) format('woff'),
    url(NotoSansKR-Regular.otf) format('opentype');
}

@font-face {
    font-family: 'Kakao';
    font-style: normal;
    font-weight: 200;
    src: local('Noto Sans KR Light'), local('Noto Sans CJK KR Light'),
    url(NotoSansKR-Light.woff2) format('woff2'),
    url(NotoSansKR-Light.woff) format('woff'),
    url(NotoSansKR-Light.otf) format('opentype');
}

@font-face {
    font-family: 'Kakao';
    font-style: normal;
    font-weight: 700;
    src: local('Kakao Bold'), local('KakaoOTF Bold'),
    url(NotoSansKR-Bold.woff2) format('woff2'),
    url(NotoSansKR-Bold.woff) format('woff'),
    url(NotoSansKR-Bold.otf) format('opentype');
}
